* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#login {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 10%;
	width: 30%;
}

.loginforms {
	border: 2px solid black;
	margin: 10px;
}

#accountdisplay {
	margin: 20px;
	display: none;
}

.accountbox {
	border: 2px solid black;
	margin: 10px;
}

#games{
	display: none;
}

.gamesmenu {
	border: 2px solid black;
	margin: 10px;
}