* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#verify {
	display: none;
}

#login {
	display: none;
}

.loginforms {
	border: 2px solid black;
	margin: 10px;
}

#accountdisplay {
	margin: 20px;
	display: none;
}

.accountbox {
	border: 2px solid black;
	margin: 10px;
}

#games {
	display: none;
}

.gamesmenu {
	border: 2px solid black;
	margin: 10px;
}